#controls-guide {
  display: none;
  z-index: 99999;
  top: 0;
  left: 0;
  background: lightblue;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  position: fixed;
}

#controls-guide.controls-guide--active {
  display: flex;
}

#controls-guide-image-container {
  background: black;
  width: 100%;
  height: 100%;
}

#controls-guide-sample-image {
  background: lightblue;
  position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#controls-guide-top {
  position: relative;
  flex: 3;
}

#controls-guide-bottom {
  flex: 1;
  min-height: 25%;
  padding: 10px;
  font-size: 20px;
  align-content: center;
}

#controls-guide-tap-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.controls-guide-tap-btn {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  height: 65%;
  width: 15%;
  background: var(--color-controls-guide-tap);
  z-index: 9999;
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  text-align: center;
  opacity: 0.8;
}

#controls-guide-tap-right {
  right: 0;
}

#controls-guide-tap-left {
  left: 0;
}

#controls-guide-swipe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controls-guide-swipe-container svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
}

#controls-guide-swipe-down {
  top: 0;
  color: var(--color-controls-guide-swipe-down);
  fill: var(--color-controls-guide-swipe-down);
}

#controls-guide-swipe-up {
  bottom: 0;
  color: var(--color-controls-guide-swipe-up);
  fill: var(--color-controls-guide-swipe-up);
}
