.num-input {
  white-space: nowrap;
  position: relative;
  margin-top: 5px;
  border: 1px solid;
  padding: 0;
  border-radius: 20px;
  background-color: var(--surface-raised);
}

.num-input>hold-button,
.num-input button {
  position: relative;
  top: 0;
  left: 0;
  font-size: inherit;
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
  margin: 0px 8px;
  padding: 0;
  color: var(--text);
}

.num-input>hold-button::after,
.num-input button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 100%;
}

.num-input>hold-button>span,
.num-input button>span {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  pointer-events: none;
  border: none;
  outline: none;
  top: 0;
  z-index: 5;
  font-size: 1.2em;
}

.num-input>hold-button:hover>span,
.num-input button:hover>span {
  color: var(--accent);
}

.num-input>hold-button.num-input-btn--up>span,
.num-input button.num-input-btn--up>span {
  transition: left .1s ease;
  left: 0;
}

.num-input>hold-button.num-input-btn--up:hover>span,
.num-input button.num-input-btn--up:hover>span {
  left: 3px;
}

.num-input>hold-button.num-input-btn--down>span,
.num-input button.num-input-btn--down>span {
  transition: right .1s ease;
  right: 0;
}

.num-input>hold-button.num-input-btn--down:hover>span,
.num-input button.num-input-btn--down:hover>span {
  right: 3px;
}

.num-input>input[type="number"] {
  font-size: inherit;
  text-align: center;
  width: 2ch;
  padding: 0;
  margin: 0;
  font-weight: bold;
  padding: 3px;
  background: none;
  border: none;
}

.num-input>input[type="number"]:focus {
  outline: none;
}

.num-input>input[type="number"]::-webkit-outer-spin-button,
.num-input>input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.num-input input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
