.post {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post>a {
  display: block;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.post>a>img:first-child {
  width: 100%;
  z-index: 1;
  background-color: #595959;
}

.post>a>a>div {
  height: 100%;
}

.post>a>canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.post.u-hidden {
  display: none;
}

.post img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
