:root {
  --theme-gradient: linear-gradient(to bottom, var(--theme-raised), var(--theme-surface));
}

head,
body {
  background: var(--theme-surface);
  color: var(--theme-text);
}

.sidebar {
  background-color: var(--theme-sunken);
}

#navbar, #header, #site-title {
  background-color: var(--theme-gradient) !important;
}

#header * {
  color: var(--theme-link) !important;
}

.awesomplete>ul {
  background: var(--theme-gradient) !important;
  opacity: 0.9;
}

.awesomplete>ul>li:hover,
.awesomplete>ul>li[aria-selected="true"] {
  background: var(--theme-hover);
}