/* #region Shared */

:root {
  --tile-columns: 6;
  --fade-cascade-step: 40ms;
}

[data-layout="row"],
[data-layout="column"],
[data-layout="column"] [data-tiler-column],
[data-layout="square"],
[data-layout="grid"] {
  gap: var(--tile-gap, 4px);
}

.tile[data-media-type="video"]>a {
  outline: var(--media-outline-size, 2px) solid blue;
}


.tile[data-media-type="gif"]>a {
  outline: var(--media-outline-size, 2px) solid hotpink;
}

[data-layout="row"] .tile[data-media-type="video"],
[data-layout="column"] .tile[data-media-type="video"],
[data-layout="square"] .tile[data-media-type="video"] {
  outline: var(--media-outline-size, 2px) solid blue;
}

[data-layout="row"] .tile[data-media-type="gif"],
[data-layout="column"] .tile[data-media-type="gif"],
[data-layout="square"] .tile[data-media-type="gif"] {
  outline: var(--media-outline-size, 2px) solid hotpink;
}

.tile[data-fading] {
  opacity: 0;
}

.tile[data-fading="play"] {
  animation: thumb-fade-in 0.2s ease both;
  animation-delay: calc(var(--fade-cascade-step) * var(--fade-cascade-index, 0));
}

/* #endregion */

/* #region Grid */

[data-layout="grid"] {
  display: grid;
  grid-template-columns: repeat(var(--tile-columns), 1fr);
}

/* #endregion */

/* #region Square */

[data-layout="square"] {
  display: grid;
  grid-template-columns: repeat(var(--tile-columns), 1fr);
}

[data-layout="square"] .tile {
  border-radius: var(--size-radius);
  overflow: hidden;
  aspect-ratio: 1 !important;
}

[data-layout="square"] .tile>a {
  width: 100%;
  height: 100%;
}

[data-layout="square"] .tile>a>img:first-child,
[data-layout="square"] .tile>a>canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #endregion */

/* #region Row */

[data-layout="row"] {
  display: flex;
  flex-wrap: wrap;
}

[data-layout="row"] .tile {
  height: var(--tile-row-height, 300px);
  flex: 1 1 auto;
  border-radius: var(--size-radius);
  overflow: hidden;
}

[data-layout="row"] .tile[data-last-row] {
  flex: 0 1 auto;
}

[data-layout="row"] .tile>a {
  width: 100%;
  height: 100%;
}

[data-layout="row"] .tile>a>img:first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

[data-layout="row"] .tile>a>canvas {
  height: 100%;
  object-fit: cover;
}

/* #endregion */

/* #region Column */

[data-layout="column"] {
  display: grid;
  grid-template-columns: repeat(var(--tile-columns), 1fr);
}

[data-layout="column"] [data-tiler-column] {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}

[data-layout="column"] [data-tiler-column] .tile {
  border-radius: var(--size-radius);
  overflow: hidden;
}

/* #endregion */

/* #region Native */

[data-layout="native"] {
  display: flex;
  flex-flow: wrap;
  gap: 25px var(--tile-gap, 10px);
}

/* #endregion */
