:root {
  --color-bg: black;
  --color-controls-guide-tap: blue;
  --color-controls-guide-swipe-down: red;
  --color-controls-guide-swipe-up: green;
  --color-favorite-indicator: gold;
  --color-tag-general: #b0e0b0;
  --color-tag-artist: #f0a0a0;
  --color-tag-character: #f0f0a0;
  --color-tag-copyright: #f0a0f0;
  --color-tag-metadata: #90d9ed;
  --color-danger: #e5484d;
  --color-danger-border: #7a3b34;
  --color-danger-text: #e08a7d;
  --color-danger-contrast: #f6ded9;
  --color-danger-surface: #4a2b26;
  --color-danger-on-surface: #f0b0a4;
  --color-gallery-background: black;

  --font-mono: ui-monospace, Consolas, monospace;
  --font-ui: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

  --size-radius: 7px;
  --size-gallery-menu: 80px;
  --gradient-rainbow: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);

  --duration-sidebar-transition: 0.15s ease;
  --duration-skeleton: 1.5s;

  --delay-skeleton: 0s;
}