.vscode
documentation
experimental
html
output
scripts
tampermonkey*
.prettierrc
node_modules
package-lock.json
package.json
eslint.config.mjs
manifest.json
*.min.js
web_workers.js
jsconfig.json
globals.d.ts