html {
  width: 100vw;
}

#favorites-search-gallery-content {
  --radius: 7px;
  margin-right: 15px;
  padding: 0px 20px 30px 20px;
}

.post,
.post--thumb {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post>a,
.post>div,
.post--thumb>a,
.post--thumb>div {
  display: block;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.post>a>img:first-child,
.post>div>img:first-child,
.post--thumb>a>img:first-child,
.post--thumb>div>img:first-child {
  width: 100%;
  z-index: 1;
}

.post>a>a>div,
.post>div>a>div,
.post--thumb>a>a>div,
.post--thumb>div>a>div {
  height: 100%;
}

.post>a>canvas,
.post>div>canvas,
.post--thumb>a>canvas,
.post--thumb>div>canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.post.u-hidden,
.post--thumb.u-hidden {
  display: none;
}

.post-action-btn {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  background: none;
  border: none;
  z-index: 2;
  filter: grayscale(70%);
}

.post-action-btn:active,
.post-action-btn:hover {
  filter: none;
}

.post-action-btn--download {
  top: unset;
  right: 0;
  left: unset;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
