html {
  width: 100vw;
}

#favorites-search-gallery-content {
  --radius: 7px;
  margin-right: 15px;
  padding: 0px 20px 30px 20px;
}

.favorite,
.thumb {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  >a,
  >div {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: default;

    >img:first-child {
      width: 100%;
      z-index: 1;
    }

    >a>div {
      height: 100%;
    }

    >canvas {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: 1;
    }
  }

  &.hidden {
    display: none;
  }
}

.thumbnail-button {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  background: none;
  border: none;
  z-index: 2;
  filter: grayscale(70%);

  &:active,
  &:hover {
    filter: none;
  }
}

.thumbnail-button.download-button {
  top: unset;
  right: 0;
  left: unset;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
