input[type=number] {
  background-color: #303030;
  color: white;
}

.number {
  background-color: #303030;

  >hold-button,
  button {
    color: white;
  }
}

#favorites-pagination-container {
  >button {
    border: 1px solid white !important;
    color: white !important;
  }
}
