#favorites-search-gallery-menu {
  position: sticky;
  top: -1px;
  padding: 5px;
  z-index: 30;
  margin-bottom: 10px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  select {
    cursor: pointer;
    min-height: 25px;
    width: 150px;
    margin-top: 2px;
  }
}

#favorites-search-gallery-menu-panels {
  >div {
    flex: 1;
  }
}

#left-favorites-panel {
  flex: 10;
}

#left-favorites-panel-top-row {
  margin-bottom: 5px;

  >label {
    align-content: center;
    margin-right: 5px;
    margin-top: 4px;
  }
}

#favorites-main-buttons-container {
  >button {
    height: 35px;
    border: none;
    border-radius: 4px;

    &:hover {
      filter: brightness(140%);
    }

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &[disabled] {
      filter: none;
      cursor: wait;
    }
  }
}

#right-favorites-panel {
  flex: 9;
  margin-left: 30px;
  display: none;
}

textarea {
  max-width: 100%;
  height: 50px;
  width: 98%;
  padding: 10px;
  border-radius: 6px;
  resize: vertical;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

.checkbox {
  display: block;
  padding: 2px 6px 2px 0px;
  border-radius: 4px;
  margin-left: -3px;
  height: 27px;

  >input {
    vertical-align: -5px;
  }
}

#column-count-container {
  >div {
    align-content: center;
  }
}

#favorite-finder {
  margin-top: 7px;

  >button {
    white-space: nowrap;
  }

  >button:last-of-type {
    margin-left: 2px;
    margin-bottom: 5px;
  }

  >input {
    width: 75px;
  }
}

#favorites-pagination-container {
  >button {
    background: transparent;
    margin: 0px 2px;
    padding: 2px 6px;
    border: 1px solid black;
    font-size: 14px;
    color: black;
    font-weight: normal;
    width: 6ch;

    &:hover {
      background-color: #93b393;
    }

    &.selected {
      border: none;
      font-weight: bold;
      pointer-events: none;
    }

    &[disabled] {
      background-color: transparent;
    }
  }
}



#help-links-container {
  >a:not(:last-child)::after {
    content: " |";
  }
}

#whats-new-link {
  cursor: pointer;
  padding: 0;
  position: relative;
  font-weight: bolder;
  font-style: italic;
  background: none;
  text-decoration: none !important;

  &.hidden:not(.persistent)>div {
    display: none;
  }

  &.persistent,
  &:hover {
    &.light-green-gradient {
      color: black;
    }

    &:not(.light-green-gradient) {
      color: white;
    }
  }
}


#whats-new-container {
  z-index: 10;
  top: 20px;
  right: 0;
  transform: translateX(25%);
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
  max-width: 100vw;
  padding: 5px 20px;
  position: absolute;
  pointer-events: none;
  text-shadow: none;
  border-radius: 2px;

  &.light-green-gradient {
    outline: 2px solid black;

  }

  &:not(.light-green-gradient) {
    outline: 1.5px solid white;
  }
}

.hotkey {
  font-weight: bolder;
  color: orange;
}

#left-favorites-panel-bottom-row {
  display: flex;
  /* margin-top: 10px; */
  flex-wrap: nowrap;

  >div {
    flex: 1;
  }

  .number {
    font-size: 18px;

    >input {
      width: 5ch;
    }
  }
}

#additional-favorite-options {
  >div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.number-label-container {
  display: inline-block;
  min-width: 130px;
}

#show-ui-container.ui-hidden {
  label {
    text-align: center;
  }

  max-width: 100vw;
  text-align: center;
  align-content: center;
}

#rating-container {
  white-space: nowrap;
}

#allowed-ratings {
  margin-top: 5px;
  font-size: 12px;

  >label {
    outline: 1px solid;
    padding: 3px;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
  }

  >label[for="explicit-rating"] {
    border-radius: 7px 0px 0px 7px;
    margin-right: 2px;
  }

  >label[for="questionable-rating"] {
    margin-right: 2px;
  }

  >label[for="safe-rating"] {
    border-radius: 0px 7px 7px 0px;
  }

  >input[type="checkbox"] {
    display: none;

    &:checked+label {
      background-color: var(--color-accent);
      color: white;
      opacity: 1;
    }
  }
}


#favorites-load-status {
  >label {
    display: inline-block;
    min-width: 100px;
    margin-right: 20px;
  }
}

#main-favorite-options-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  >div {
    flex-basis: 45%;
  }
}

#sort-ascending {
  position: absolute;
  top: 18px;
  left: 150px;
  width: 20px;
  height: 20px;
}

#favorite-finder-input {
  border: none !important;
}

div#header {
  margin-bottom: 0 !important;
}

#goto-page-input {
  width: 5ch;
}


#sort-container {
  position: relative;
}

.toggle-switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  transform: scale(.75);
  align-content: center;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--color-accent);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-accent);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-switch-label {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 16px;
}

.inline-option-container {
  >div {
    display: inline-block;
  }
}

#sorting-method-id {
  display: none;
}

textarea#favorites-search-box {
  margin-top: 5px;
  min-height: 14px;
}

#favorites-load-status-label.hidden {
  display: none;
}

#favorites-bottom-navigation-buttons {
  display: flex;
  margin-top: auto;

  &>button {
    font-size: xx-large;
    height: 50px;
    flex: 1;
  }
}

#performance-profile {
  width: 160px;
}

#show-ui-label {
  margin-right: 15px;
}
