#postListDisplayOptsForm>h3,
.postListSidebarRight {
  display: none;
}

#favorites-search-gallery-content {
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
}

.search-menu__option {
  display: flex;
  justify-content: space-between;
}

.search-menu__option input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
}

#search-page-menu {
  margin-top: 20px;
}

#search-page-menu select {
  min-width: 80px;
}

#search-page-options {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
