#tag-modifier-ui-container {
  display: none;
}

#tag-modifier-ui-container>* {
  margin-top: 10px;
}

#tag-modifier-ui-textarea {
  width: 80%;
}

.post--tag-selected {
  outline: 2px dashed white !important;
}

.post--tag-selected>div,
.post--tag-selected>a {
  opacity: 1 !important;
  filter: grayscale(0%);
}

#tag-modifier-ui-status-label {
  visibility: hidden;
}

.post-tag--custom>a,
.post-tag--custom {
  color: hotpink;
}
