.tiler--row,
.tiler--column,
.tiler--column .tiler--column--a,
.tiler--square,
.tiler--grid {
  gap: 6px;
}

.tiler--grid,
.tiler--square {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.5cqw;
}

.tiler--row {
  display: flex;
  flex-wrap: wrap;
}

.tiler--native {
  display: flex;
  flex-flow: wrap;
  gap: 25px 10px;
}


.tiler--grid .post-action-btn,
.tiler--square .post-action-btn {
  width: 30%;
}

.tiler--row .post-action-btn {
  height: 30%;
}

.tiler--column .post-action-btn {
  width: 30%;
}

.tiler--native .post-action-btn {
  width: 70px;
  aspect-ratio: 1;
}

.tiler--square .post,
.tiler--square .post--thumb {
  border-radius: var(--radius);
  overflow: hidden;
  aspect-ratio: 1;
}

.tiler--square .post>a,
.tiler--square .post>div,
.tiler--square .post--thumb>a,
.tiler--square .post--thumb>div {
  width: 100%;
  height: 100%;
}

.tiler--square .post>a>img:first-child,
.tiler--square .post>a>canvas,
.tiler--square .post>div>img:first-child,
.tiler--square .post>div>canvas,
.tiler--square .post--thumb>a>img:first-child,
.tiler--square .post--thumb>a>canvas,
.tiler--square .post--thumb>div>img:first-child,
.tiler--square .post--thumb>div>canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tiler--row .post,
.tiler--row .post--thumb {
  height: 300px;
  flex: 1 1 auto;
  border-radius: var(--radius);
  overflow: hidden;
}

.tiler--row .post.u-last-row,
.tiler--row .post--thumb.u-last-row {
  flex: 0 1 auto;
}

.tiler--row .post>a,
.tiler--row .post>div,
.tiler--row .post--thumb>a,
.tiler--row .post--thumb>div {
  width: 100%;
  height: 100%;
}

.tiler--row .post>a>img:first-child,
.tiler--row .post>div>img:first-child,
.tiler--row .post--thumb>a>img:first-child,
.tiler--row .post--thumb>div>img:first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.tiler--row .post>a>canvas,
.tiler--row .post>div>canvas,
.tiler--row .post--thumb>a>canvas,
.tiler--row .post--thumb>div>canvas {
  height: 100%;
  object-fit: cover;
}

.tiler--column {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.tiler--column .tiler--column--a {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}

.tiler--column .tiler--column--a .post,
.tiler--column .tiler--column--a .post--thumb {
  border-radius: var(--radius);
  overflow: hidden;
}
