#tooltip {
  max-width: 750px;
  border: 1px solid black;
  padding: 0.25em;
  position: absolute;
  box-sizing: border-box;
  z-index: 25;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
  font-size: 1.05em;
}

#tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.favorite::after {
  transition: visibility 0s, opacity 0.25s linear;
  content: attr(data-tooltip);
  position: absolute;
  font-size: 12px;
  z-index: 1000;
  background: gray;
  padding: 5px;
  color: white;
  left: 0;
  top: 100%;
  min-width: 500px;
  pointer-events: none;

}

.favorite.tooltip::after {
  opacity: 1;
}