#favorites-drawer-view-change .favorites-drawer-panel {
  padding: 6px 6px;
}

#favorites-drawer-view-change .setting-group ul {
  margin: 0;
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#favorites-drawer-view-change .setting-group li {
  font-size: 13px;
  color: var(--theme-text);
}
